html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-sans {
  font-family: sans-serif;
}

.text-orange {
  color: orange;
}

.text-blue {
  color: #1b2f45;
}

.btn-orange,
.btn-orange:hover {
  background-color: orange;
  color: white;
}
.btn-dorange:hover,.btn-dorange{
  border: 1px solid #FB4800 !important;
  background-color: #FB4800 !important;
  color: white !important;
}
.btn-outline-dorange:hover{
  background-color: #FB4800;
  color: white;
  transition: .2s;
}

.btn-lgreen,
.btn-lgreen:hover {
  background-color: #37E2D5;
  border: 1px solid #37E2D5;
  color: white;
}

.btn-outline-orange {
  border: orange 1px solid;
  color: orange;
}

.bg-orange {
  border: 1px solid orange !important;
  opacity: 1;
}

.back-orange {
  background-color: #FF9F45;
}

.h-mdpx {
  height: 500px;
}

.icon {
  height: 20px;
  width: 20px;
}

.text-lgrey {
  color: rgb(181, 181, 181);
}

.text-white {
  color: white !important;
  z-index: 100000;
}

.text-lgreen {
  color: #37E2D5;
}

.btn:focus,
.form-control:focus,
.form-select:focus {
  box-shadow: none;
}

.Top:hover h3 {
  color: orange;
  transition: .3s;
}

.Top h3 {
  transition: .3s;
}

.btnnot:hover {
  border: 1px solid white;
  cursor: default;
}

.rounded-right {
  border-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.rounded-left {
  border-radius: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.op-1 {
  opacity: 1;
}

.z-10 {
  z-index: 10;
}

.mt-10 {
  margin-top: 150px;
}

.overlay::before,
.overlay-lg::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-lg::before {
  background-color: rgba(0, 0, 0, .7);
}

.hover-grey:hover {
  background-color: rgb(213, 213, 213) !important;
}

.pointer {
  cursor: pointer;
}

.bg-none {
  background: none;
}

.mh-200 {
  min-height: 235px !important;
}

.not-btn {
  background: none;
  border: none;
  color: rgb(59, 59, 59);
}
.not-btn:hover{
  color: rgb(255, 115, 0);
}
.text-sm{
  font-size: 14px;
}
.profileActive{
  background-color: #f4f9ff;
  color: rgb(31, 31, 31) !important;
  border-bottom: 1px solid #6eafff97;
}