.HomeBg{
  background-image: url('../img/HomeImg.jpg');
  border-top-right-radius: 255px;
  border-bottom-right-radius: 255px;
}

.HomeBg{
  background-position: center;
  background-repeat: none;
  background-size: cover;
}